body {
  width: 850px;
  margin: auto;
  background: #fff;
  font-size: 15px;
  font-family: "Times New Roman", Georgia, Serif;
}
/* heading 3 */
h3 {
  font-size: 1.75em;
}
/* heading 5 */
h5 {
  font-size: 1.25em;
  margin: 10px 0 10px 0;
}
/* site header */
header {
  border-bottom: 1px solid #dedede;
}
/* site header paragraph */
header p {
  font-size: 1.25em;
  font-style: italic;
}
/* site main content category */
main {
  overflow: auto;
  padding: 15px 0 15px 0;
}
/* input field for note */
.note-input input {
  width: 40%;
}
/* add button for note */
.note-input button {
  padding: 2px;
  margin-left: 5px;
  border-radius: 0;
  border: 1px solid #dedede;
  cursor: pointer;
}
/* even note paragraph output */
/*.note-output p:nth-child(even) {
  background-color: #ccc;
}*/
/* odd note paragraph output */
/*.note-output p:nth-child(odd) {
  background-color: #eee;
}*/

.note-output p {
  width: 80%;
}

.note-output p button {
  float: right;
}

/*
The below css code will be repeated after every 5th child
*/
.note-output p:nth-child(5n+1) {    background: #FF9999; }
.note-output p:nth-child(5n+2) {    background: #ADADFF; }
.note-output p:nth-child(5n+3) {    background: #B2FFB2; }
.note-output p:nth-child(5n+4) {    background: #C6AAFF; }
.note-output p:nth-child(5n+5) {    background: #66C2E0; }


/* site footer */
footer {
  margin-top: 5px;
  border-top: 1px solid #dedede;
}
/* site footer paragraph */
footer p {
  font-size: 0.8em;
}
